*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.35;
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #fff;
  color: #555;
  margin-bottom: 0px;
}

html h1, html h2, html h3, html h4, body h1, body h2, body h3, body h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
}

.white {
  background: #FFF;
}

.img-block {
  width: 100%;
  padding: 0 9%;
}

a {
  text-decoration: none;
  color: #555;
}

h1, h2, h3, h4 {
  margin: 0;
}

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 10px;
  height: 70px;
}

nav .nav-left {
  width: 30%;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

nav .nav-left .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #69C7D1;
}

nav .nav-right {
  width: 70%;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

nav .nav-right ul {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

nav .nav-right ul li {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 20px;
  list-style: none;
  transition: .1s linear;
  text-align: center;
  box-shadow: 0px 0px 0px 0px #fff;
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 5px;
}

nav .nav-right ul li a {
  color: #aaa;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

nav .nav-right ul li.active a, nav .nav-right ul li:hover a {
  color: #333;
  font-weight: 700;
}

.triangle-topleft1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 160px solid #BADFE1;
  border-right: 220px solid transparent;
}

.triangle-topleft2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 150px solid #BADFE1;
  border-right: 160px solid transparent;
}

header {
  width: 100%;
  padding: 7% 13%;
  padding-top: 12%;
  padding-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

header .profile {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .profile .polygon {
  transition: all .35s ease;
}

@keyframes morph {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(40deg) scale(1.1);
  }
  100% {
    transform: rotate(40deg) scale(1);
  }
}

header .header-words {
  width: 80%;
  padding-left: 6.5%;
  color: #333;
}

header .header-words .header-title {
  font-size: 36px;
  font-weight: 800;
  font-family: 'Montserrat';
}

header .header-words .header-contents {
  font-size: 23px;
  padding-top: 20px;
  font-weight: 400;
  line-height: 30px;
}

header .header-words .header-contents .typing {
  font-weight: 700;
}

header .header-words .header-contents .school {
  font-size: 16px;
  color: #333;
}

header .header-words .social-media {
  margin-top: 15px;
}

header .header-words .social-media img {
  width: 26px;
  margin: 10px 3px;
}

header .header-words .social-media a {
  opacity: 0.2;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

header .header-words .social-media a:hover {
  opacity: 0.9;
}

.tags {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.tags .tag {
  color: #333;
  cursor: pointer;
  background: #eee;
  min-width: 120px;
  padding: 8px 20px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 5px;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.tags .tag.active {
  background: #569CF8;
  color: #fff;
}

.tags #uiux:hover, .tags #uiux.active {
  background: #68C4CA;
  color: #FFF;
}

.tags #dev:hover, .tags #dev.active {
  background: #F6D839;
  color: #FFF;
}

.tags #visual:hover, .tags #visual.active {
  background: #FF7373;
  color: #FFF;
}

.title {
  text-align: center;
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.content {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: start;
  justify-content: start;
}

.content .img {
  width: 100%;
  padding-bottom: 129.4%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content .img2 {
  width: 100%;
  padding-bottom: 90.4%;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.content .img-guideline {
  width: 100%;
  padding-bottom: 600%;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.content .video {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content .video h4 {
  text-align: center;
  margin: 20px 0px;
}

.sec1 {
  padding: 70px 5%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project {
  margin: 1% 1%;
}

.project .project-pic {
  width: 100%;
  padding-bottom: 70%;
  position: relative;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: .2s ease-in;
}

.project .project-pic #figure {
  background: rgba(96, 77, 64, 0.9);
}

.project .project-pic #backme {
  background: rgba(243, 157, 9, 0.9);
}

.project .project-pic #backme .pic-hover-content {
  color: #222;
}

.project .project-pic #blender {
  background: rgba(46, 54, 108, 0.9);
}

.project .project-pic #plusme {
  background: rgba(98, 155, 245, 0.9);
}

.project .project-pic #ripple {
  background: rgba(113, 195, 242, 0.9);
}

.project .project-pic #ripple .pic-hover-content {
  color: #1d3b5a;
}

.project .project-pic #drama {
  background: rgba(255, 192, 196, 0.9);
}

.project .project-pic #drama .pic-hover-content {
  color: #222;
}

.project .project-pic #muse {
  background: rgba(186, 193, 237, 0.9);
}

.project .project-pic #muse .pic-hover-content {
  color: #1b223f;
}

.project .project-pic #meichu {
  background: rgba(255, 162, 83, 0.9);
}

.project .project-pic #w1 {
  background: rgba(43, 160, 255, 0.9);
}

.project .project-pic #w2 {
  background: rgba(238, 73, 102, 0.9);
}

.project .project-pic #w3 {
  background: rgba(255, 239, 217, 0.9);
}

.project .project-pic #w3 .pic-hover-content {
  color: #1b223f;
}

.project .project-pic #w4 {
  background: rgba(76, 164, 185, 0.9);
}

.project .project-pic .pic-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  opacity: 0;
  transition: .1s linear;
  transition-delay: .1s;
  text-align: center;
}

.project .project-pic .pic-hover .pic-hover-content {
  color: #FFF;
  font-size: 14px;
}

.project .project-pic .pic-hover:hover {
  opacity: 1;
}

.project .project-pic .project-description {
  font-family: 'Karla', sans-serif;
  font-size: 21px;
}

.project .project-pic .project-description span.note {
  font-size: 16px;
}

.project .project-pic .project-note-tag {
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
}

.project .project-pic .project-title {
  font-size: 28px;
}

.project-col-6 {
  width: 48%;
}

.project-col-4 {
  width: 31.33%;
}

.project-col-4 .project-pic .project-description {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.project-col-4 .project-pic .project-title {
  font-size: 22px;
}

hr.short {
  width: 80px;
  border: 2px solid #69C7D1;
  margin-left: 0px;
}

hr.short-center {
  width: 80px;
  border: 2px solid #69C7D1;
  margin: 20px auto;
  margin-bottom: 10px;
}

footer {
  background: #555;
  height: 60px;
  width: 100%;
  margin-bottom: 0px;
  color: #FFF;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}

button {
  padding: 8px 15px;
  outline: none;
  background: #5CADBC;
  color: #FFF;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  transition: .1s linear;
}

button:hover {
  background: #69C7D1;
}

p.section-md {
  width: 100%;
  padding: 0 20%;
  line-height: 1.8;
  text-align: left;
}

button.download {
  font-size: 16px;
}

.portfolio-sub-title {
  color: #5CADBC;
  width: 100%;
  font-weight: 600;
}

.lanuch-block {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.lanuch-block button {
  font-size: 18px;
  border-radius: 80px;
  height: 50px;
  width: 200px;
  background: #fff;
  color: #5CADBC;
  border: 1px #5CADBC solid;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.lanuch-block button:hover {
  background: #5CADBC;
  color: #fff;
}

.loading-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69C7D1;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
  font-size: 60px;
  color: white;
}

.loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

.md-pic {
  width: 75%;
  margin: 0% 12.5%;
}

.grade-wrap {
  margin: auto;
  width: 100%;
  padding: 3% 7.5%;
}

.grade-wrap .line, .grade-wrap .line2 {
  margin: 5px;
}

.grade-wrap .line span, .grade-wrap .line2 span {
  margin-right: 6px;
}

.grade-wrap .line input, .grade-wrap .line select, .grade-wrap .line2 input, .grade-wrap .line2 select {
  border-radius: 3px;
  line-height: 28px;
  width: 150px;
  height: 28px;
  border: 1px #ccc solid;
  padding: 0px 7px;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes gradient {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .content .img {
    width: 1000px;
    padding-bottom: 1290px;
    margin: auto;
  }
  .content .img2 {
    width: 1000px;
    padding-bottom: 904px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin: auto;
  }
}

@media (max-width: 500px) {
  nav {
    padding: 0px;
    padding-left: 20px;
  }
  nav .nav-left {
    width: 40%;
  }
  nav .nav-right {
    width: 60%;
  }
  nav .nav-left .logo {
    font-size: 14px;
  }
  nav .nav-right ul li {
    font-size: 12px;
    margin: 0;
    margin-right: 10px;
  }
  header {
    height: 100%;
  }
  header .header-inside {
    background-position: 50% 5%;
    background-size: 85%;
  }
  header .header-left {
    font-size: 26px;
    padding: 0px;
  }
  header .header-left .header-left-inside {
    margin-top: 92%;
    width: 100%;
    text-align: center;
  }
  .header-left-inside {
    width: 100%;
  }
  hr.short {
    display: none;
  }
  header .header-left .header-left-inside span {
    font-size: 16px;
  }
  .project {
    width: 100%;
    padding: 5%;
  }
}
