*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.35;
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #fff;
  color: #555;
  margin-bottom: 0px;
}

html h1, html h2, html h3, html h4, body h1, body h2, body h3, body h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
}

.white {
  background: #FFF;
}

.img-block {
  width: 100%;
  padding: 0 9%;
}

a {
  text-decoration: none;
  color: #555;
}

h1, h2, h3, h4 {
  margin: 0;
}

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 10px;
  padding-right: 40px;
  height: 90px;
  padding-top: 8px;
}

nav .nav-left {
  width: 30%;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

nav .nav-left .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #69C7D1;
}

nav .nav-right {
  width: 70%;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

nav .nav-right ul {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

nav .nav-right ul li {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 20px;
  list-style: none;
  transition: .1s linear;
  text-align: center;
  box-shadow: 0px 0px 0px 0px #fff;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 5px;
}

nav .nav-right ul li a {
  color: #aaa;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

nav .nav-right ul li.active a, nav .nav-right ul li:hover a {
  color: #333;
  font-weight: 700;
}

.triangle-topleft1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 160px solid #BADFE1;
  border-right: 220px solid transparent;
}

.triangle-topleft2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 150px solid #BADFE1;
  border-right: 160px solid transparent;
}

header {
  width: 100%;
  padding: 7% 13%;
  padding-top: 13.6%;
  padding-bottom: 2.9%;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

header .profile {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .profile .polygon {
  transition: all .35s ease;
}

@keyframes morph {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(40deg) scale(1.1);
  }
  100% {
    transform: rotate(40deg) scale(1);
  }
}

header .header-words {
  width: 80%;
  padding-left: 6.5%;
  color: #333;
}

header .header-words .header-title {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat';
}

header .header-words .header-contents {
  font-size: 23px;
  padding-top: 20px;
  font-weight: 400;
  line-height: 30px;
}

header .header-words .header-contents .typing {
  font-weight: 700;
}

header .header-words .header-contents .under-typing {
  width: 100%;
  display: block;
}

header .header-words .header-contents .school {
  font-size: 16px;
  color: #666;
  margin-top: 7px;
}

.social-media {
  margin-top: 15px;
}

.social-media img {
  width: 24px;
  margin: 10px 3px;
}

.social-media a {
  opacity: 0.6;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.social-media a:hover {
  opacity: 1;
}

.project-text {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 13px;
  padding-bottom: 32px;
}

.project-text .project-text-title {
  font-size: 22px;
  font-weight: 700;
  padding-right: 30px;
}

.project-text .project-text-tag {
  font-size: 13px;
  padding: 3px 8px;
  background: #E3EAFF;
  border-radius: 3px;
  margin-right: 5px;
  color: #2E3658;
}

.project-text .project-text-firstline {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 3px;
}

.project-text .project-text-secondline {
  font-size: 15px;
  margin-top: 8px;
  color: #666;
}

.tags {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.tags .tag {
  color: #333;
  cursor: pointer;
  min-width: 120px;
  padding: 8px 20px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px 5px;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.tags .tag.active {
  background: #3F75FD;
  color: #fff;
}

.tags #uiux:hover, .tags #uiux.active {
  background: #28C3D3;
  color: #FFF;
}

.tags #dev:hover, .tags #dev.active {
  background: #F6D839;
  color: #FFF;
}

.tags #visual:hover, .tags #visual.active {
  background: #FF7373;
  color: #FFF;
}

.title {
  text-align: center;
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.content {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: start;
  justify-content: start;
}

.content .img {
  width: 100%;
  padding-bottom: 129.4%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content .img2 {
  width: 100%;
  padding-bottom: 90.4%;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.content .img-guideline {
  width: 100%;
  padding-bottom: 600%;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.content .video {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content .video h4 {
  text-align: center;
  margin: 20px 0px;
}

.sec1 {
  padding: 75px 9.5%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.vtt-bg {
  background: #EFF2FF;
}

.project {
  margin: 0.9% 1%;
}

.project .project-pic {
  width: 100%;
  border-radius: 6px;
  padding-bottom: 70%;
  overflow: hidden;
  position: relative;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: .2s ease-in;
}

.project .project-pic#motion-bg {
  background: #FFF;
  background-size: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.project .project-pic #google {
  background: rgba(227, 236, 248, 0.9);
}

.project .project-pic #google .pic-hover-content {
  color: #222;
}

.project .project-pic #figure {
  background: rgba(96, 77, 64, 0.9);
}

.project .project-pic #vtt {
  background: rgba(241, 244, 255, 0.9);
}

.project .project-pic #vtt .pic-hover-content {
  color: #222;
}

.project .project-pic #backme {
  background: rgba(243, 157, 9, 0.9);
}

.project .project-pic #backme .pic-hover-content {
  color: #222;
}

.project .project-pic #VR {
  background: rgba(119, 176, 197, 0.9);
}

.project .project-pic #VR .pic-hover-content {
  color: #222;
}

.project .project-pic #blender {
  background: rgba(46, 54, 108, 0.9);
}

.project .project-pic #blender .project-description {
  font-size: 20px;
}

.project .project-pic #plusme {
  background: rgba(98, 155, 245, 0.9);
}

.project .project-pic #ripple {
  background: rgba(113, 195, 242, 0.9);
}

.project .project-pic #ripple .pic-hover-content {
  color: #1d3b5a;
}

.project .project-pic #motion {
  background: rgba(209, 244, 246, 0.9);
}

.project .project-pic #motion .pic-hover-content {
  color: #222;
}

.project .project-pic #interactive {
  background: rgba(61, 68, 90, 0.9);
}

.project .project-pic #interactive .pic-hover-content {
  color: #fff;
}

.project .project-pic #muse {
  background: rgba(186, 193, 237, 0.9);
}

.project .project-pic #muse .pic-hover-content {
  color: #1b223f;
}

.project .project-pic #meichu {
  background: rgba(255, 162, 83, 0.9);
}

.project .project-pic #w1 {
  background: rgba(230, 236, 238, 0.9);
}

.project .project-pic #w1 .pic-hover-content {
  color: #1b223f;
}

.project .project-pic #w2 {
  background: rgba(230, 236, 238, 0.9);
}

.project .project-pic #w3 {
  background: rgba(255, 239, 217, 0.9);
}

.project .project-pic #w3 .pic-hover-content {
  color: #1b223f;
}

.project .project-pic #w4 {
  background: rgba(249, 197, 198, 0.9);
}

.project .project-pic #w4 .pic-hover-content {
  color: #1b223f;
}

.project .project-pic .pic-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  opacity: 0;
  transition: .1s linear;
  transition-delay: .1s;
  text-align: center;
}

.project .project-pic .pic-hover .pic-hover-content {
  color: #FFF;
  font-size: 14px;
}

.project .project-pic .pic-hover:hover {
  opacity: 1;
}

.project .project-pic .project-description {
  font-family: 'Karla', sans-serif;
  font-size: 21px;
}

.project .project-pic .project-description span.note {
  font-size: 16px;
}

.project .project-pic .project-note-tag {
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
}

.project .project-pic .project-title {
  font-size: 28px;
}

.project-col-6 {
  width: 48%;
}

.project-col-4 {
  width: 31.33%;
}

.project-col-4 .project-pic .project-description {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.project-col-4 .project-pic .project-title {
  font-size: 22px;
}

hr.short {
  width: 80px;
  border: 2px solid #69C7D1;
  margin-left: 0px;
}

hr.short-center {
  width: 80px;
  border: 2px solid #69C7D1;
  margin: 20px auto;
  margin-bottom: 10px;
}

footer {
  position: relative;
  width: 100%;
  color: #777;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 16px;
  margin-top: 70px;
}

.copyright {
  width: 100%;
}

button {
  padding: 8px 15px;
  outline: none;
  background: #5CADBC;
  color: #FFF;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  transition: .1s linear;
}

button:hover {
  background: #69C7D1;
}

p.section-md {
  width: 100%;
  padding: 0 20%;
  line-height: 1.8;
  text-align: left;
}

button.download {
  font-size: 16px;
}

.portfolio-sub-title {
  color: #5CADBC;
  width: 100%;
  font-weight: 600;
}

.lanuch-block {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.lanuch-block button {
  font-size: 18px;
  border-radius: 80px;
  height: 50px;
  width: 200px;
  background: #fff;
  color: #5CADBC;
  border: 1px #5CADBC solid;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.lanuch-block button:hover {
  background: #5CADBC;
  color: #fff;
}

.loading-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69C7D1;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
  font-size: 60px;
  color: white;
}

.loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

.md-pic {
  width: 75%;
  margin: 0% 12.5%;
}

.grade-wrap {
  margin: auto;
  width: 100%;
  padding: 3% 7.5%;
}

.grade-wrap .line, .grade-wrap .line2 {
  margin: 5px;
}

.grade-wrap .line span, .grade-wrap .line2 span {
  margin-right: 6px;
}

.grade-wrap .line input, .grade-wrap .line select, .grade-wrap .line2 input, .grade-wrap .line2 select {
  border-radius: 3px;
  line-height: 28px;
  width: 150px;
  height: 28px;
  border: 1px #ccc solid;
  padding: 0px 7px;
}

#playground header {
  display: flex;
  width: 100%;
}

#playground .project {
  margin: 2% 2.5%;
}

#playground .project-col-6 {
  width: 45%;
}

#playground .content {
  padding-bottom: 1%;
}

#playground .playground-header-inside {
  position: relative;
}

#playground h2.playground-h2 {
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 65px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

#playground h3.playground-h3 {
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Karla';
  text-align: center;
  position: relative;
}

#playground h4.playground-h4 {
  font-size: 24px;
  color: #333;
  font-family: 'Karla';
}

#playground .project-under {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

#playground .desc {
  font-size: 17px;
}

#playground p.warning {
  font-size: 20px;
  font-family: 'Karla';
  text-align: center;
  color: #FF275F;
}

#playground .glitch {
  color: black;
  font-size: 100px;
  position: relative;
  width: auto;
  margin: 0 auto;
  justify-content: center;
}

#playground .s1 {
  position: absolute;
  top: -5px;
  left: -60px;
}

#playground .s2 {
  position: absolute;
  top: -40px;
  left: 220px;
}

#playground .s3 {
  position: absolute;
  top: 40px;
  right: -32px;
}

#playground .s4 {
  position: absolute;
  bottom: -30px;
  right: 200px;
}

#playground .sec1 {
  padding-top: 20px;
}

@keyframes gradient {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .content .img {
    width: 1000px;
    padding-bottom: 1290px;
    margin: auto;
  }
  .content .img2 {
    width: 1000px;
    padding-bottom: 904px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin: auto;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 0px;
    text-align: center;
  }
  nav .nav-left {
    width: 0%;
  }
  nav .nav-right {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
  }
  nav ul {
    padding-left: 0px;
    margin: 0px;
  }
  nav ul li a {
    font-size: 13px;
  }
  nav .nav-left .logo {
    font-size: 14px;
  }
  nav .nav-right ul li {
    font-size: 15px;
    margin: 8px 10px;
  }
  header {
    height: 100%;
    padding: 6%;
    padding-top: 18%;
  }
  header .header-words {
    width: 100%;
    padding-left: 0%;
    text-align: center;
    line-height: 1.5em;
  }
  header .header-words .header-title {
    font-size: 28px;
  }
  header .header-words .header-contents {
    font-size: 20px;
  }
  header .header-words .header-contents span.typing {
    width: 100%;
    display: block;
  }
  .project {
    width: 100%;
    padding: 1%;
  }
  .project-text .project-text-title {
    width: 100%;
  }
  .project-text .project-text-tag {
    font-size: 13px;
    padding: 3px 8px;
    background: #E3EAFF;
    border-radius: 3px;
    margin-right: 5px;
    color: #2E3658;
  }
  .project-text .project-text-firstline {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 3px;
    flex-wrap: wrap;
  }
  .project-text .project-text-secondline {
    font-size: 15px;
    margin-top: 12px;
    color: #666;
  }
  .sec1 {
    padding: 60px 3.6%;
  }
}
