$main: #0d2565;
@charset "UTF-8";

$padding-horizon: 7.5%;
$padding-under-horizon: 2.5%;
$main-color:#69C7D1;
$main-color2:#5CADBC;



*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.35;
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #fff;
  color: #555; 
  margin-bottom: 0px;
  //letter-spacing: 1px;
  h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
  }
}
.white {
  background: #FFF;
}
.img-block {
  width: 100%;
  padding: 0 9%;
}
a {
  //display: inline-block;
  text-decoration: none;
  color: #555;
}
h1,h2,h3,h4 {
  margin: 0;
}
nav {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 10px;
  height: 70px;

  .nav-left {
    width: 30%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
        
    .logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: $main-color;
    }
  }
  .nav-right {
    width: 70%;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    ul {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      li{
        font-family: 'Montserrat', sans-serif;
        margin: 0px 20px;
        list-style: none;
        transition: .1s linear;
        text-align: center;
        box-shadow: 0px 0px 0px 0px #fff;
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 5px;
        a{
          color: #aaa;
          -webkit-transition: .1s linear;
          -moz-transition: .1s linear;
          -ms-transition: .1s linear;
          -o-transition: .1s linear;
          transition: .1s linear;
        }
        &.active, &:hover {
          a {
            color: #333;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.triangle-topleft1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 160px solid #BADFE1;
  border-right: 220px solid transparent;
}
.triangle-topleft2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 150px solid #BADFE1;
  border-right: 160px solid transparent;
}


header {
  width: 100%;
  padding: 8% 13%;
  padding-bottom: 0%;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  
  .profile{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center; 

    .polygon {
      transition: all .35s ease;
    }
    @keyframes morph {
      0% {
        transform: rotate(0deg) scale(1);
      }

      50% {
        transform: rotate(40deg) scale(1.1);
      }
      
      100% {
        transform: rotate(40deg) scale(1);
      }
    }
  }

  .header-words {
    width: 80%;
    padding-left: 7.5%;
    color: #333;
    .header-title {
      font-size: 36px;
      font-weight: 800;
      //padding-left: 22px;
      font-family: 'Montserrat';
     
    }
    .header-contents {
      font-size: 23px;
      padding-top: 20px;
      font-weight: 400;
      line-height: 30px;
      .typing {
        font-weight: 700;
      }
      .school {
        font-size: 16px;
        color: #333;
        //padding-top: 17px;
      }
    }

    .social-media {
      
      margin-top: 15px;
      img {
        width: 20px;
        margin: 10px 3px;
      }
      a {
        opacity: 0.2;
        -webkit-transition: .1s linear;
        -moz-transition: .1s linear;
        -ms-transition: .1s linear;
        -o-transition: .1s linear;
        transition: .1s linear;
      }
      a:hover {
        opacity: 0.9;
      }
    }
  }
}
.title {
    text-align: center;
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
  }
.content {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .img {
    width: 100%;
    padding-bottom:129.4%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .img2 {
    width: 100%;
    padding-bottom:90.4%;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .img-guideline {
    width: 100%;
    padding-bottom:600%;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .video {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    h4 {
      text-align: center;
      margin: 20px 0px;
    }
  }
}
.sec1 {
  padding: 70px $padding-under-horizon;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project {
  width: 31.3%;
  margin: 3% 1%;
  
  .project-pic {
    width: 100%;
    padding-bottom: 61%;
    //background: #ccc;
    position: relative;
    background-position: 50% 50%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    transition: .2s ease-in;
    &:hover {

    }
    .pic-hover {
      background: rgba(0,0,0,0.5);
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      opacity: 0;
      transition: .1s linear;
      transition-delay: .1s;
      text-align: center;
      .pic-hover-content {
        color: #FFF;
        font-size: 14px;
      }
      &:hover {
        opacity: 1;
        .pic-hover-content {
        
        }
      }
      

    }
  }
  .project-title {
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    text-align: center;
    h4 {
      font-weight: 400;
    }
  }
  .project-summary {
    color: #666;
  }
}
hr.short {
  width: 80px;
  border: 2px solid $main-color;
  margin-left: 0px;
}
hr.short-center {
  width: 80px;
  border: 2px solid $main-color;
  margin: 20px auto;
  margin-bottom: 10px;
}
footer {
  background: #555;
  height: 60px;
  width: 100%;
  margin-bottom: 0px;
  color: #FFF;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
button {
  padding: 8px 15px;
  outline: none;
  background: $main-color2;
  color: #FFF;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  transition: .1s linear;
  &:hover {
    background: $main-color; 
  }
}
p.section-md {
  width: 100%;
  padding: 0 20%;
  line-height: 1.8;
  text-align: left;
}
button.download {
  font-size:16px; 
}
.portfolio-sub-title {
  color: $main-color2;
  width: 100%;
  font-weight: 600;
}
.lanuch-block {
  text-align:center;
  width: 100%;
  margin-top: 40px;
  button {
    font-size: 18px;
    border-radius: 80px;
    height: 50px;
    width: 200px;
    background: #fff;
    color: $main-color2;
    border: 1px $main-color2 solid;
    -webkit-transition: .1s linear; 
    -moz-transition: .1s linear; 
    -ms-transition: .1s linear; 
    -o-transition: .1s linear; 
    transition: .1s linear; 
    &:hover {
      background: $main-color2;
      color: #fff;
    }
  }
}

//$background-color: #4684ee;
$loader-color: #fff;
$loader-size: 45px;


.loading-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: $main-color;
}

.loader {
  color: #fff;
  
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: $loader-size;
  color: rgba(255,255,255,0.7);
  opacity: 0.8;

  span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
    font-size: 60px;
    color: rgba(255,255,255,1);
    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}
.md-pic {
  width: 75%;
  margin: 0% 12.5%;
}
.grade-wrap {
  margin:auto;
  width: 100%;
  padding: 3% 7.5%;
  .line, .line2 {
    margin: 5px;
    span {
      margin-right: 6px;
    }
    input,select {
      border-radius:3px;
      line-height: 28px;
      width: 150px;
      height: 28px;
      border: 1px #ccc solid;
      padding: 0px 7px;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes gradient {
    0%   {background-color:red; left:0px; top:0px;}
    
    50%  {background-color:blue; left:200px; top:200px;}
    
    100% {background-color:red; left:0px; top:0px;}
}
@media screen and (min-width:1200px){
  .content {
    .img-block {
      
    }
    .img {
      width: 1000px;
      padding-bottom: 1290px;
      margin: auto;
      
    }
    .img2 {
      width: 1000px;
      padding-bottom: 904px;
      -webkit-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      margin: auto;
    }
  }
}

@media(max-width: 500px){
    nav {
      padding: 0px;
      padding-left: 20px;
      .nav-left {
        width: 40%;
      }
      .nav-right {
        width: 60%;
        
      }
      
    }
    nav .nav-left .logo {
      font-size: 14px;
    }
    nav .nav-right ul li {
      font-size: 12px;
      margin: 0;
      margin-right: 10px;
    }
    header {
      height: 100%;
    }
    header .header-inside {
      background-position: 50% 5%;
      background-size: 85%;
    }
    header .header-left {
      font-size: 26px;
      padding: 0px;
    }
    header .header-left .header-left-inside {
      margin-top: 92%;
      width: 100%;
      text-align: center;
    }
    .header-left-inside {
      width: 100%;
    }
    hr.short {
      display: none;
    }
    header .header-left .header-left-inside span {
      font-size: 16px;
    }
    .project {
      width: 100%;
      padding: 5%;
    }
}
