$main: #0d2565;
@charset "UTF-8";

$padding-horizon: 7.5%;
$main-color:#69C7D1;
$main-color2:#5CADBC;
*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.35;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: #f1f1f1;
  color: #555; 
  margin-bottom: 0px;
  h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
  }
}
.white {
  background: #FFF;
}
.img-block {
  width: 100%;
  padding: 0 9%;
}
a {
  //display: inline-block;
  text-decoration: none;
  color: #555;
}
h1,h2,h3,h4 {
  margin: 0;
}
nav {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  padding: 0px $padding-horizon;
  height: 70px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.2); 
  .nav-left {
    width: 30%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    .logo {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: $main-color;
    }
  }
  .nav-right {
    width: 70%;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    ul {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      li{
        margin: 0px 20px;
        list-style: none;
        transition: .1s linear;
        text-align: center;
        box-shadow: 0px 0px 0px 0px #fff;
        font-weight: 200;
        font-size: 16px;
        &:hover {
          box-shadow: 0px 2px 0px 0px $main-color;
          font-weight: 400;
        }
      }
    }
  }
}
header {
  width: 100%;
  margin: 0;
  height: 400px;
  //background-image: linear-gradient(to bottom, rgba(231, 239, 244, 0.36), rgba(160, 209, 217, 0.62));
  background: #FFF;
  .header-inside {
    width: 100%;
    height: 400px;
    background-image: url("/assets/img/tree2.png");
    -webkit-background-size: 35%;
    -o-background-size: 35%;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 87% 100%;
    position: relative;
    .header-bg2 {
      //background-image: linear-gradient(to left, rgba(144, 255, 170, 0.0), #243f4a);
      width: 80%;
      height: 100%;
      display: flex;
      align-items:center;
      opacity:0.3;
      
    }
  }
  
  
  .header-left {
    
    padding-left: $padding-horizon;
    font-size: 34px;
    width: 100%;
    height: 100%;
    h1,h2,h3,h4 {
      margin: 0;
    }
    position: absolute;
    top:0px;
    left:0px;
    display: flex;
    align-items:center;
    .header-left-inside {
      width: 50%;
      font-family: 'Montserrat', sans-serif;
      span{
        //font-family: 'Montserrat', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 22px;
        line-height:1.2;
      }
    }
  }
}
.title {
    text-align: center;
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
  }
.content {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .img {
    width: 100%;
    padding-bottom:129.4%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.sec1 {
  padding: 50px $padding-horizon;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  margin: 1.5%;
  
  .project-pic {
    width: 100%;
    padding-bottom: 61%;
    background: #ccc;
    position: relative;
    background-position: 50% 50%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    transition: .2s ease-in;
    &:hover {
      -webkit-background-size: 180%;
      -o-background-size: 180%;
      background-size: 180%;
    }
    .pic-hover {
      background: rgba(0,0,0,0.6);
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      opacity: 0;
      transition: .1s linear;
      transition-delay: .1s;
      text-align: center;
      .pic-hover-content {
        color: #FFF;
        font-size: 14px;
      }
      &:hover {
        opacity: 1;
        .pic-hover-content {
        
        }
      }
      

    }
  }
  .project-title {
    margin: 20px 0px 10px 0px;
    font-size: 16px;
    h4 {
      font-weight: 400;
    }
  }
  .project-summary {
  
  }
}
hr.short {
  width: 80px;
  border: 2px solid $main-color;
  margin-left: 0px;
}
hr.short-center {
  width: 80px;
  border: 2px solid $main-color;
  margin: 20px auto;
}
footer {
  background: #555;
  height: 60px;
  width: 100%;
  margin-bottom: 0px;
  color: #FFF;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
button {
  padding: 8px 15px;
  outline: none;
  background: $main-color2;
  color: #FFF;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  transition: .1s linear;
  &:hover {
    background: $main-color; 
  }
}
p.section-md {
  width: 100%;
  padding: 0 20%;
  line-height: 1.8;
  text-align: left;
}
button.download {
  font-size:16px; 
}
.portfolio-sub-title {
  color: $main-color2;
  width: 100%;
  font-weight: 600;
}
.lanuch-block {
  text-align:center;
  width: 100%;
  margin-top: 40px;
  button {
    font-size: 18px;
    border-radius: 80px;
    height: 50px;
    width: 200px;
    background: #fff;
    color: $main-color2;
    border: 1px $main-color2 solid;
    -webkit-transition: .1s linear; 
    -moz-transition: .1s linear; 
    -ms-transition: .1s linear; 
    -o-transition: .1s linear; 
    transition: .1s linear; 
    &:hover {
      background: $main-color2;
      color: #fff;
    }
  }
}
@keyframes gradient {
    0%   {background-color:red; left:0px; top:0px;}
    
    50%  {background-color:blue; left:200px; top:200px;}
    
    100% {background-color:red; left:0px; top:0px;}
}
@media screen and (max-width:768px){

}