$main: #0d2565;
@charset "UTF-8";

$padding-horizon: 7.5%;
$padding-under-horizon: 2.5%;
$main-color:#69C7D1;
$main-color2:#5CADBC;
$blue: #569CF8;
$red: #FF7373;
$yellow: #F6D839;
$green: #68C4CA;


*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
header.portfolio {
  width: 100%;
  background-size: cover;
  padding-bottom: 26%;
  background-color: $blue;
}

#uxmuseum {
  header.portfolio {
    background-image: url("/../assets/img/figure/p1.png");
  }
  nav {
    .nav-right ul li a {
      color: rgba(255,255,255,0.5);
    }
    .nav-right ul li.active a {
      color: rgba(255,255,255,1);
    }
  }
  img {
    max-width: 100%;
    height: auto;
    flex: 0 1;
  }
}

section{
  //padding: 2% 17%;
  color: #333;
  // display: flex;
  // flex-wrap: wrap;
  // -webkit-justify-content: center;
  // justify-content: center;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;

  h3 { font-size: 26px; }
  h4 { font-size: 20px; }
  p { font-size: 17px;
    line-height: 1.7em;
  }
  h2, h3, h4, h5 {
    //margin-bottom: 10px;
  }
  h2, h3, h4, h5, p, .image-sm{
    width: 100%;
    padding: 0% 16%;
    line-height: 1.7em;
    text-align: left;
  }
  .image-sm {
    padding: 0% 15%;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    //line-height: 2em;
  }
}

.intro {
  //margin-top: 60px;
}
